$("#j_contract").html("<%= j(render partial: 'contracts/contract') %>");
$(".ajax_text, .ajax_num").val('');
$("#new_msg").html('<div style="color:green; margin-bottom:10px;"><%= @msg %></div><div style="color:red; margin-bottom:10px;"><%= @msgs %></div>');
