<div class="complete_warpper offset-1 col-10 offset-1 mt-3 mb-3">
  <h1>請求完了</h1>
  <div class="complete text-left">
    <p>ご請求ありがとうござました。<br>ご請求内容に基づき、審査の上でのお支払いとなります。<br>概ね５営業日以内に審査完了となりますので、しばらくお待ちください。</p>
  </div>
  <div class="close-modal">
    <i class="fas fa-times-circle fa-2x"></i>
  </div>
</div>
