<div class="header">
  <h1>請求完了</h1>
  <p>ご請求が完了しました。</p>
</div>

<div class="complete col-xs-12 offset-md-2">
<p>ご請求ありがとうござました。<br>
ご請求内容に基づき、審査の上でのお支払いとなります。<br>
審査結果については、概ね５営業日を目処にご入力いただいたご住所まで「ご請求にかかる通知書」
を送付いたしますので、しばらくお待ちください。</p>
</div>
<div class="main_btn">
  <%= link_to '戻る',"/",class: "return_btn" %>
</div>
