<div class="header_admin">
  <h1>【管理者用】管理者情報</h1>
</div>

<div class="contract_main col-xs-12 col-md-8 offset-md-2">
  <div class="contract_sub" >
    <div class="card">
      <div class="card-header">
        <p>管理者登録内容</p>
      </div>
      <div class="card-body">
        <ul>
          <li>担当者名：<%= @admin.contractor_name %></li>
          <li>メールアドレス：<%= @admin.email %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main_btn">
  <%= link_to '戻る',root_path ,class: "return_btn" %>
  <%= link_to '変更',edit_admin_info_path(current_user.id) ,class: "change_btn" %>
</div>