<!--ボタン切り替えJquely -->
$('#likes_buttons_<%= @post.id %>').html("<%= j(render partial: 'likes/toppage_like', locals: {post: @post}) %>");
$('#like_msg').html('<div class="alert alert-danger mb-3"><%= @msg %></div>');