<div class="header">
  <h1>退会</h1>
  <p>退会でお間違いないですか？<br>※退会後はご登録情報は削除となり、復元できません。</p>
</div>
<div class="main_btn">
  <%= link_to '戻る',user_path(current_user.id), class: "return_btn" %>
  <%= link_to "退会する",user_path(current_user.id), class: "delete_btn",method: :delete %>
</div>