$("#j_user").html("<%= j(render partial: 'users/edit') %>");
$("#edit_msg").html('<div style="color:green; margin-bottom:10px;"><%= @msg %></div><div style="color:red; margin-bottom:10px;"><%= @msgs %></div>');
