<div class="complete_warpper offset-1 col-10 offset-1 mt-3 mb-3">
  <h1>送信完了</h1>

  <div class="complete">
    <p>お問い合わせありがとうござました。<br>返信内容はお問い合わせフォームよりご確認いただけます。</p>
  </div>
  <div class="close-modal">
    <i class="fas fa-times-circle fa-2x"></i>
  </div>
</div>
