<div class="header">
  <h1>送信完了</h1>
  <p>お問い合わせが完了しました。</p>
</div>

<div class="complete col-xs-12 offset-md-2">
  <p class="text-center">お問い合わせありがとうござました。<br>
  ５営業日以内をめどにご返信いたしますので、しばらくお待ちください。
  <br>返信内容はお問い合わせフォームよりご確認いただけます。
  </p>
</div>
<div class="main_btn">
  <%= link_to '戻る',contacts_path,class: "return_btn" %>
</div>
