// Place all the styles related to the admin::info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header_admin {
    padding:30px 20px 0 20px;
}
.header_admin h1 {
    color: #364e96;
    padding: 0.5em 0;
    border-top: solid 3px #364e96;
    border-bottom: solid 3px #364e96;
    margin:0 auto;
    text-align: center;
    width:800px;
    font-weight:bold;
}
@media (max-width:670px) {
    .header_admin h1 {
        font-size:20px;
        width:250px
  }
}
.header_admin p {
    font-size:20px;
    padding:20px;
    text-align: center;
}
@media (max-width:670px) {
    .header_admin p {
        font-size:15px;
  }
}
