<div class="complete_warpper offset-1 col-10 offset-1 mt-3 mb-3">
  <h1>投稿完了</h1>
  <div class="complete">
    <p>投稿した記事はトップページ上へ掲載されます。<br>投稿記事の削除は投稿一覧より行ってください。</p>
  </div>
  <div class="close-modal">
    <i class="fas fa-times-circle fa-2x"></i>
  </div>
</div>
