<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div>
      <table class="table">
        <tr style="background-color: #cce5ff;">
          <th class="text-center">タイトル</th>
          <th class="text-center">投稿日時</th>
          <th class="text-center">詳細へ</th>
        </tr>
        <tr>
          <th class="text-center"><%= post.title%></th>
          <th class="text-center"><%= post.created_at.strftime('%Y/%m/%d') %></th>
          <th class="text-center"><%= link_to "詳細・削除へ", post_path(post.id), class: "font_color" %></th>
        </tr>
      </table>
    </div>
  <% end %>
  <div class="pagination  justify-content-center">
    <%= paginate @posts %> 
  </div>
<% else %>
  <p class="data_nill">投稿はありません。</p>
<% end %>