// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.a_color {
    background-color: #bcffff;   
}
#comment_msg {
    text-align: center;
    margin: 10px;
}
.c_font_color {
    color: #000000;
}
.comment_nill {
    color: red;
}
.comment_table {
    background-color: white;
}
.comment_h2 {
    color: #000000;
    font-size : 25px;
    text-align: center;
    margin: 10px 0 10px 0;
}
.cm_header_item {
    display: flex;
    justify-content: center;
    position: relative; 
}
.cm_icon_item {
    position: absolute; 
    right: 0; 
}
// 管理者用
.a_font_color {
    color: #000000;
    background-color: #e5fff2;
}