.contact_form {
    height: 70%;
    // background-color: #eeeeee;
    // border: 1px solid;
    padding: 10px;
    margin-bottom: 25px;
}
.contact_form h2 {
    color: #000000;
    text-align: center;
    font-size: 22px;
    margin: 10px;
}
.contact_form table  {
    background-color: #e5fff2;
}
.th_color {
    background-color: white;   
}
// tableの文字を黒へ
.t_font_color {
    color: #000000;
}

// ajax用 complete初期は非表示
#j_contact {
    display: none;
}
// complete ui 
.complete_warpper {
    text-align: center;
    background-color: #d6ffff;
    padding: 20px;
}
.complete_warpper h1 {
    color: red;
}
