// Place all the styles related to the contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 新規登録フォーム
.contract_form {
    height: 70%;
    background-color: #eeeeee;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 25px;
}
.contract_form h2 {
    color: #000000;
    text-align: center;
    font-size: 22px;
    margin: 10px;
}
// 編集フォーム
// 既登録一覧
.contract_index {
    background-color: #eeeeee;
    border: 1px solid;
    padding: 10px;
}
.contract_index h2 {
    color: #000000;
    text-align: center;
    font-size: 22px;
    margin: 10px;
}
.contract_main {
    margin: 25px auto;
}
#contract_table {
    background-color: white;
}
#contract_table th {
    background-color: #ffd3a8;
    color: #000000;
}
.table td,.table th{
    border: gray solid 1px !important;
}
// ajaxフラッシュMSG　削除、新規登録、変更共通
#contract_msg {
    text-align: center;
    margin: 10px;
}
// ajaxバリデーションエラー（お問い合わせと契約登録で兼用）
.error-message {
    color: #F51414;
}
#error-message {
    margin: 0 0 0 0;
}
.none {
    display: none;
}
// 編集削除
.e_icon {
    cursor: pointer;
    cursor: hand;
}
.header_item {
    display: flex;
    justify-content: center;
    position: relative; 
}
.icon_item {
    position: absolute; 
    right: 0; 
}
.e_form {
    display: none;
    border: 1px solid;
    background-color: #d6ffff;
}
.e_form p {
    color: #000000;
    padding: 10px !important;
    margin-bottom: 0px !important;
}