.contact_form {
    height: 70%;
    background-color: #eeeeee;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 25px;
}
.contact_form h2 {
    color: #000000;
    text-align: center;
    font-size: 22px;
    margin: 10px;
}
.contact_form table  {
    background-color: #e5fff2;
}
.t_font_color {
    color: #000000;
}