// Place all the styles related to the contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 契約がない場合
.contract_nill {
    color: red;
    padding-top: 20px;
    text-align: center
}
.contract_main {
    width: 60%;
    margin: 25px auto;
}
#contract_table {
    background-color: #eeeeee;
}
#contract_table th {
    background-color: #ffd3a8;
    color: #000000;
}