// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// テーブルの文字を小さく
@media (max-width: 670px) {
    .table {
        font-size: 15px;
    }
}
.post_form {
    height: auto;
    background-color: #cce5ff;
    border: 1px solid;
    padding: 10px;
    margin: 25px;
}
#j_post {
    display: none;
}
.card-header {
    background-color: #cce5ff;
}
.card-body, .td_color {
    background-color: white;
}