// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログインユーザー共通
.us_visual {
    height: 220px;
    background-image: image-url("autumn-leaves_00009.jpg");
    background-size: cover;
    top: 0;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}
@media (max-width: 670px) {
    .us_visual {
    height: 100px;
    width: 100%;
    padding: 100px 0 ;
    background-image: image-url('autumn-leaves_00009.jpg');
    margin-bottom: 5px;
    background-size: cover;
  }
}
.us_container {
    top: 55%;
    left: 0;
    right: 0;
    position: absolute;
    padding: 20px 20px;
}
.us_container h1 {
    font-weight: bold;
    font-size: 30px;
    color: #000000;
    text-align: center;
        z-index: 15;
}
@media (max-width: 670px) {
    .us_visual h1 {
    font-size: 25px;
  }
}
.contract_wrapper p {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
@media (max-width: 670px) {
    .contract_wrapper p {
        font-size: 15px;
  }
}
// データがない時のメッセージ用（朱書きではない）
.data_nill {
    text-align: center;
}
.user_table {
  margin-top: 20px;
}





// モーダル
// .u_new_modal_wrapper {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.6);
//     z-index: 100;
//     display: none;
// }
// .u_new_modal {
//     position: absolute;
//     background-color: #ffeddb;
//     padding: 30px 40px;
//     border-radius: 10px;
//     width: 600px;
//     margin: 10% 30%;
//     height: auto;
//     text-align: center;
// }
// @media (max-width:670px) {
//     .u_new_modal {
//         width: 70%;
//     }
// }
// .u_new_modal h1 {
//     width: 70%;
//     margin: 0 auto;
//     color: #818181;
//     padding: 0.2em 0;
//     border-top: solid 3px #364e96;
//     border-bottom: solid 3px #364e96;
//     margin-bottom: 20px;
// }
// .u_new_modal p {
//     margin-bottom: 20px;
// }
// @media (max-width:670px) {
//     .u_new_modal h1 {
//         font-size:25px;
//     }
// }
// @media (max-width:670px) {
//     .u_new_modal p {
//         font-size:15px;
//     }
// }