// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログインユーザー共通
.us_visual {
    height: 220px;
    background-image: image-url("autumn-leaves_00009.jpg");
    background-size: cover;
    top: 0;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}
@media (max-width: 670px) {
    .us_visual {
    height: 100px;
    width: 100%;
    padding: 100px 0 ;
    background-image: image-url('autumn-leaves_00009.jpg');
    margin-bottom: 5px;
    background-size: cover;
  }
}
// ログインしていない場合の機能ページの背景
.ma_visual {
    height: 220px;
    background-image: image-url("tree-woods_00001.jpg");
    background-size: cover;
    top: 0;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}
@media (max-width: 670px) {
    .ma_visual {
    height: 100px;
    width: 100%;
    padding: 100px 0 ;
    background-image: image-url('tree-woods_00001.jpg');
    margin-bottom: 5px;
    background-size: cover;
  }
}
.us_container {
    top: 55%;
    left: 0;
    right: 0;
    position: absolute;
    padding: 20px 20px;
}
.us_container h1 {
    font-weight: bold;
    font-size: 30px;
    color: #000000;
    text-align: center;
    z-index: 15;
}
@media (max-width: 670px) {
    .us_visual h1 {
    font-size: 20px;
  }
}
.us_wrapper p {
    font-size: 20px;
    padding: 15px 0 0 0;
    text-align: center;
}
@media (max-width: 670px) {
    .us_wrapper p {
        font-size: 15px;
  }
}
// データがない時のメッセージ用（朱書きではない）
.data_nill {
    text-align: center;
}
.user_table {
  margin-top: 20px;
}
// admin user共通　契約者情報
#user_table_tr {
    background-color: #e8d1ff;
}
#e_us_form {
    display: none;
    border: 1px solid;
    background-color: #d6ffff;
}
